/*http://angrytools.com/gradient/*/
/* https://codepen.io/themalni/full/jVLmQR/ */

body{
 background-color: #6441a4;
 font-family: 'Play', sans-serif; 
 margin: 0;
}

.container{
  text-align: center;
  margin: auto;
  color: white;
  width: 100%;
}

.header{
  background-color: white;
  font-size: 18px;
}

.header > img{
  height: 100px;
  width: 300px;
  padding-top: 2%;
  fill: white;
}

#title{
  color: #6441a4;
}

.well{
  max-width: 1000px;
  width: 90%;
  margin: auto;
}

button{
  color: white;
  font-size: 14px;
  width: 32%;
  padding: 10px 0px;
  background-color: #7d5bbe;
  cursor:pointer;
  margin-right: 2%;
  box-sizing: border-box;
  border-style: solid;
  border-width: thin;
  float: left;
}

button:nth-child(3n) {
 margin-right: 0 !important;
}

#channelsList{
  margin-bottom: 50px;
  margin:auto;
  list-style:none;
  padding-left:0 !important;
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex !important;   
  flex-wrap: wrap;
  clear: left;  
}

.single_channel{
  width: 32%;
  margin-right: 2%;
  float:left;
  height: 250px;
  margin-top: 2%;
  text-align: left;
  border-style: solid;
  border-color: #7d5bbe;
  border-width: thick;
  box-sizing: border-box;
  position: relative;
  background-color: #7d5bbe;
}

.single_channel:nth-child(3n) {
 margin-right: 0 !important;
}

.user_name{
  color:white;
  word-wrap: break-word;
}

a{
  color: #D1B367;
  color: white;
}
a:link {
    text-decoration: none;
}

.channel_prev-img{
    width: 100%;
    height: 75%;
}

.user_info{
  background-color: #7d5bbe;
  margin-top: -1%;
  height: 25%;
  position: relative;
}

.user_img{
  width: 35px;
  height: 35px;
  margin-right: 5px;
  padding-top: 5px;
}

.user_name, .status_offline, .status_online, .status_invalid{
 position: absolute;
 top:30%;
}

.status_offline, .status_online, .status_invalid{
  right:0;
}

.status_online{
  color: green;
}

.status_offline{
  color: red;
}

.status_invalid{
  color: gray;
}

.cover-overlay{
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 80%;
  background: #7d5bbe;
}

@media only screen and (max-width: 830px) {
  .single_channel{
    width: 49%;
    height: 200px;
  } 
  
  .single_channel:nth-child(2n) {
    margin-right: 0;
  }
  
  .single_channel:nth-child(3n) {
    margin-right: 2% !important;
  }
}

@media only screen and (max-width: 550px) {
  .single_channel{
    width: 100%;
    min-height: 100px;
    margin-right: 0;
  }